.form-control:focus, button[type="submit"]:focus {
	border-color: #ffe121 !important;
	box-shadow: 0 0 0 0.2rem rgba(255, 225, 33,.25) !important;
}

.bg-yellow {
	background-color: #ffe121;
}

.bd-yellow {
	border-color: #ffe121 !important;
}

.br-radius {
	border-bottom-right-radius: 30px;
}

.bl-radius {
	border-bottom-left-radius: 30px;
}

.tr-radius {
	border-top-right-radius: 30px;
}

.tl-radius {
	border-top-left-radius: 30px;
}

.b-radius {
	border-bottom-right-radius: 30px !important;
	border-bottom-left-radius: 30px !important;
	border-top-right-radius: 30px !important;
	border-top-left-radius: 30px !important;
}

.mh-85vh {
	min-height: 85vh;
}

.mh-100vh {
	min-height: 100vh;
}

.card-max {
	max-width: 450px !important;
}

.font-yellow {
	color: #ffe121 !important;
}

.op-08 {
	opacity: 0.7;
}

::-webkit-scrollbar {
	position: fixed;
	width: 8px;
	background-color: transparent
}

::-webkit-scrollbar-thumb {
	background-color: #cecece;
	border-radius: 8px
}

.fixed-menu {
	position: fixed;
	z-index: 1000;
}

.instagram-color {
	color: #F14C5A !important;
}

.facebook-color {
	color: #4267B2 !important;
}

.text-decoration {
	text-decoration: none !important;
}

.left-auto {
	left: auto !important;
}

.mw-100 {
	max-width: 100% !important;
}

.max-w-600 {
	max-width: 600px !important
}

.max-w-650 {
	max-width: 650px !important
}